@charset "utf-8";
@import "compass/reset";
@import "compass/utilities/sprites";   
@import "icon/*.png";              
@include all-icon-sprites;
$yellow:#f4b800;
$shadow: #a13d00;
$fontColor: #5a3412;
html,body{
    height: 100%;
    -webkit-user-select: none;
}
*{transition-timing-function: ease-in-out;}
a{
    text-decoration: none;
}
a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
.f_l { float:left; }
.f_r { float:right; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.hide{
    display: none !important;
}
body{
    position: relative;
    width: 640px;
    background-color: #fff;
    box-shadow: 0 160px 160px 160px #eaeaea;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
//remind
.modal {
    height: 100%;
    position: fixed;
    z-index: 19891015;
    width: 640px;
    top: 0;
    background: rgba(0,0,0,.7);
}

#remind{
    width: 461px;
    height: 301px;
    position: fixed;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -230px;
    z-index: 99999999;
    display: -webkit-box;
    -webkit-box-align: center;
    .content{
        color: #fff;
        font-size: 28px;
        text-align: center;
        width: 381px;
        padding: 20px 40px;
        line-height: 45px;
    }
}

//loading
#loading{
    width: 640px;
    height: 100%;
    min-height: 1008px;
    background: #3eb398 url(../img/loading_bg.jpg) no-repeat;
    display: -webkit-box;
    -webkit-box-align: center;
    .content{
        margin: 0 68px;
    }
}

.progress-bar{
    display: block;
    width: 510px;
    height: 11px;
    background: #222b29;
    border:2px solid #ecffd5;
    border-radius: 11px;
    margin-top: 34px;
}
.progress{
    height: 11px;
    background-repeat: repeat-x;
    width: 0;
    -webkit-transition-duration: .3s;
    border-radius: 11px;
    background: #f8ac2b url(../img/process.png) repeat-x;
}
.hint{
    font-size: 28px;
    margin-top: 13px;
    display: inline-block;
    color: #018203;
}

.ui-button{
    display: inline-block;
    color: $fontColor;
    background: $yellow;
    border-bottom: 6px solid $shadow;
    text-align: center;
    font-size: 38px;
    width: 194px;
    height: 53px;
    line-height: 53px;
    border-radius: 15px;
    &.bright{
        background: #ffca13;
        border-color: #bd4c00;
        color: #bd4c00;
    }
}

#wrap{
    width: 640px;
    min-height: 1008px;
    height: 100%;
    display: none;
    position: relative;
}
.page{
    height: 100%;
    min-height: 1008px;
    width: 640px;
    overflow-x: hidden;
    display: none;
}
/**水街首页**/
.page-1{
    display: block;
    position: relative;
    background: #3eb398 url(../img/index_bg.jpg) no-repeat;
    .icon-title{
        width: 465px;
        height: 209px;
        position: absolute;
        top: 39px;
        left: 108px;
        opacity: 0;
    }
    .icon-logo{
        width: 160px;
        height: 70px;
        position: absolute;
        left: 28px;
        top: 275px;
        opacity: 0;
    }
    .icon-hero{
        width: 254px;
        height: 377px;
        position: absolute;
        top: 243px;
        right: 79px;
        -webkit-transform: scale3d(0,0,0) translate3d(300%,300%,0);
    }
    .icon-super{
        display: inline-block;
        width: 214px;
        height: 107px;
        position: absolute;
        top: 520px;
        left: 221px;
        visibility: hidden;
    }
    .icon-active{
        display: inline-block;
        width: 221px;
        height: 116px;
        position: absolute;
        top: 640px;
        left: 205px;
        visibility: hidden;
    }
    .icon-life{
        display: inline-block;
        width: 217px;
        height: 111px;
        position: absolute;
        top: 784px;
        left: 213px;
        visibility: hidden;
    }
    &.show{
        .icon-title{
            -webkit-animation: bounceInDown 1s;
            -webkit-animation-fill-mode: forwards;
        }
        .icon-logo{
            -webkit-animation: rotateIn 1s 1s;
            -webkit-animation-fill-mode: forwards;
        }
        .icon-hero{
             -webkit-animation: fly 1.5s 2s;
            -webkit-animation-fill-mode: forwards;
        }
        .icon-super{
            -webkit-animation: slideInUp .75s 2s;
            -webkit-animation-fill-mode: forwards;
        }
        .icon-active{
            -webkit-animation: slideInUp .75s 2.75s;
            -webkit-animation-fill-mode: forwards;
        }
        .icon-life{
            -webkit-animation: slideInUp .75s 3.5s;
            -webkit-animation-fill-mode: forwards;
        }
    }
}

.page-2{
    background: url(../img/game_index.jpg) no-repeat;
    background-size:cover;
    position: relative;
    .goback{
        position: absolute;
        width: 114px;
        left: 18px;
        top: 18px;
        z-index: 2;
    }
    .icon-title-2{
        width: 489px;
        height: 292px;
        position: absolute;
        top: 18px;
        left: 84px;
    }
    .footer{
        position: absolute;
        bottom: 230px;
        width: 100%;
    }
    .guide{
        width: 273px;
        height: 73px;
        line-height: 73px;
        border-bottom: 10px solid $shadow;
        margin-bottom: 32px;
        font-size: 52px;
        opacity: 0;
    }
    .btn-group{
        opacity: 0;
        font-size: 0;
        a{
            margin: 0 33px;
        }
    }
    &.show{
        .icon-title-2{
            -webkit-animation: slideInLeft 1s;
            -webkit-animation-fill-mode: forwards;
        }
        .guide{
            -webkit-animation: bounceIn .75s 1s;
            -webkit-animation-fill-mode: forwards;
        }
        .btn-group{
            -webkit-animation: bounceIn .75s 1.75s;
            -webkit-animation-fill-mode: forwards;
        }
    }
}

.page-5{
    background: #2a354b url(../img/game.jpg) no-repeat;
    text-align: left;
    .guide-page{
        display: none;
        position: fixed;
        height: 100%;
        width: 640px;
        left: 50%;
        top: 0;
        margin-left: -320px;
        background: rgba(0,0,0,.8);
    }
    .icon-tip{
        width: 555px;
        height: 240px;
        margin: 232px 0 0 59px;
        .content{
            padding: 18px 30px;
            font-size: 30px;
            color: #563f13;
            line-height: 43px;
            text-align: left;
        }
    }
    .icon-hero{
        width: 254px;
        height: 377px;
        position: absolute;
        -webkit-transform: rotateY(180deg);
        top: 435px;
        left: 39px;
    }
    .startGame{
        position: absolute;
        top: 458px;
        right: 68px;
        color: #bd4c00;
        border-color: #bd4c00;
        background: #ffca13;
    }
    .icon-cd-title{
        width: 503px;
        height: 45px;
        display: inline-block;
        margin-top: 33px;
        margin-left: 42px;
    }
    .countDown{
        text-align: left;
        height: 71px;
        line-height: 71px;
        font-size: 40px;
        color: #ffd800;
        margin-top: 10px;
    }
    .icon-battery-bg{
        display: inline-block;
        width: 451px;
        height: 71px;
        margin-left: 42px;
        
        vertical-align: top;
    }
    .batery-box{
        width: 425px;
        height: 51px;
        margin-left: 8px;
        margin-top: 10px;
    }
    .icon-battery{
        width: 100%;
        height: 51px;
        margin-top: 10px;
        -webkit-transition-duration: .3s;
    }
    .game-panel{
        font-size: 0;
        width: 485px;
        margin-left: 89px;
        margin-top: 184px;
        text-align: left;
        li{
            display: inline-block;
            width: 47px;
            height: 69px;
            margin-left: 13px;
            margin-right: 36px;
            margin-bottom: 38px;
           &:nth-child(5n+4){
               margin-left:14px;
           }
           &:nth-child(5n+5){
               margin-left:14px;
           }
            &:nth-child(n+21){
                margin-top: 10px;
            }
        }
    }
}

.page-6{
    background: #475dac;
    padding: 0 32px;
    box-sizing: border-box;
    .layer-close{
        width: 565px;
        height: 60px;
        line-height: 60px;
        margin-top: 30px;
    }
}

.ui-tab{
    font-size: 0;
    text-align: left;
    padding: 19px 0 24px;
    li{
        display: inline-block;
        font-size: 32px;
        color: #fff;
        width: 285px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border-radius: 14px;
        background: #8c9ddb;
        &.cur{
            background: #24338a;
        }
        &:first-child{
            margin-right: 6px;
        }
    }
}
.tab-content{
    width: 565px;
    margin: 0 auto;
    text-align: left;
    .title{
        height: 58px;
        line-height: 58px;
        background: #f9c85d;
        color: #bd4c00;
        font-size: 32px;
    }
    .score{
        text-align: right;
        font-size: 32px;
        color: #fff;
        margin-bottom: 18px;
    }
}
/**我的奖品**/
.prize-content{
    .prize-list{
        padding: 0 27px;
        box-sizing: border-box;
        font-size: 32px;
        color: #475dac;
        background: #fff8bb;
        height: 360px;
        overflow: auto;
    }
    .title{
        .col-1{
            padding-left: 72px;
            box-sizing: border-box;
            width: 320px;
        }
        .col-2{
            width: 210px;
        }
    }
    .col-1{
        display: inline-block;
        float: left;
        width: 293px;
        padding-left: 14px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .col-2{
        display: inline-block;
        float: right;
        width: 183px;
    }
    li{
        height: 72px;
        line-height: 72px;
        background: url(../img/icon/dot.png) left bottom repeat-x;
        &:last-child{
            background: none;
        }
    }
}

/**领取规则**/
.recieve-rule{
    margin-top: 30px;
    .title{
        text-align: center;
    }
    .content{
        padding: 27px;
        box-sizing: border-box;
        font-size: 26px;
        color: #475dac;
        background: #fff8bb;
        line-height: 44px;
    }
}

/**积分兑换**/
.change-content{
    span{
        display: inline-block;
        vertical-align: top;
        font-size: 32px;
    }
    .title{
        padding: 0 20px;
        font-size: 0;
        box-sizing: border-box;
        .col-1{
            text-indent: 1em;
        }
    }
    .change-list{
        padding: 0 20px;
        box-sizing: border-box;
        font-size: 32px;
        color: #475dac;
        background: #fff8bb;
        font-size: 0;
        height: 640px;
        overflow: auto;
        span{
            display: inline-block;
            vertical-align: top;
        }
    }
    .col-1{
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .col-2{
        width: 102px;
        text-align: center;
    }
    .col-3{
        width: 102px;
        text-align: center;
    }
    .change{
        font-size: 32px;
        display: inline-block;
        vertical-align: top;
        width: 106px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #ffca13;
        color: #bd4c00;
        font-size: 30px;
        border-radius: 10px;
        margin: 12px 0;
    }
    li{
        height: 80px;
        line-height: 80px;
        background: url(../img/icon/dot.png) left bottom repeat-x;
        &:last-child{
            background: none;
        }
    }
}

.layermbox{
    .layermchild{
        max-width: 500px !important;
        min-width: 500px !important;
        min-height: 360px;
        border-radius: 0;
        background: #475dac;
        box-shadow: 5px 5px 0 #16328e;
    }
    .layermcont{
        padding: 0;
        text-align: center;
    }
    .ui-button{
        width: 198px;
        height: 60px;
        line-height: 60px;
        color: #bd4c00;
        border-color: #bd4c00;
        background: #ffca13;
    }
}

.common-title{
    width: 425px;
    height: 102px;
    margin-left: (500px-425px)/2;
    margin-top: -38px;
}

#rules-box{
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    .content{
        margin-top: 25px;
        padding: 0 50px;
    }
    p{
        text-align: left;
        &:last-child{
            text-indent: 1.5em;
        }
    }
    .ui-button{
        margin: 18px 0 45px;
    }
}

#change-fail-box{
    .txt{
        font-size: 32px;
        color: #fff;
        margin: 90px 0 96px;
    }
}

#change-success-box,#award-box{
    .prizeName{
        font-size: 32px;
        color: #ffca13;
        line-height: 32px;
        margin: 23px 0;
    }
    .vcode{
        font-size: 32px;
        color: #fff;
        line-height: 32px;
        margin-bottom: 18px;
        em{
            color: #ffca13;
        }
    }
    .tip{
        font-size: 24px;
        color: #fff;
        line-height: 40px;
        margin-bottom: 18px;
        em{
            color: #ffca13;
        }
    }
    .ui-button{
        margin-bottom: 15px;
    }
}

#award-box{
    .title{
        color: #fff;
        font-size: 36px;
        line-height: 36px;
        margin: 28px 0 13px;
    }
    .tip{
        margin-bottom: 28px;
    }
    .btn-group{
        margin-bottom: 20px;
        font-size: 0;
    }
    .ui-button{
        margin: 0 17px;
    }
}

#ending-box{
    .title{
        font-size: 36px;
        color: #fff;
        margin:125px 0 83px
    }
}

#credit-box{
    .txt{
        margin: 90px 0;
        font-size: 32px;
        color: #fff;
        em{
            color: #ffca13;
        }
    }
    .btn-group{
        font-size: 0;
    }
    .ui-button{
        margin: 0 17px;
    }
}

/**分享**/
.share-box{
    height: 100%;
    width: 640px;
    background: rgba(0,0,0,.7);
    position: fixed;
    left: 50%;
    margin-left: -320px;
    top: 0;
    display: none;
    z-index: 19891019;
    .share-text{
        right: 40px;
        top: 150px;
        position: absolute;
        font-size: 30px;
        color: #fff;
    }
    .icon-arrow{
        display: inline-block;
        width: 70px;
        height: 64px;
        right: 45px;
        top: 45px;
        position: absolute;
        -webkit-animation: jump 1s linear infinite;
    }
}

.no-prize{
    height: 418px;
    line-height: 418px;
    text-align: center;
    color: #475dac;
    background: #fff8bb;
}

#prize-detail{
    p{
        font-size: 32px;
        color: #fff;
        padding: 0 40px;
        text-align: left;
        line-height: 40px;
    }
    .effective{
        margin-top: 80px;
        margin-bottom: 15px;
    }
    .rule{
        margin-bottom: 50px;
    }
}

#gift-box{
    color: #fff;
    font-size: 36px;
    .txt{
        margin: 40px 0 20px;
    }
    .icon-box{
        display: inline-block;
        width: 225px;
        height: 214px;
    }
    .tip{
        font-size: 28px;
        margin: 11px 0 45px;
    }
    .shake{
        -webkit-animation:shake 1.2s linear;
        -webkit-animation-fill-mode:forwards;
    }
}

#no-award-box,#runout-box,#continue-box,#runout-box2{
    color: #fff;
    .title{
        font-size: 36px;
        margin: 80px 0 60px;
    }
    .tip{
        font-size: 26px;
        line-height: 45px;
        margin-bottom: 80px;
        padding: 0 40px;
        text-align: left;
    }
    .btn-group{
        font-size: 0;
    }
    .ui-button{
        margin: 0 17px 15px;
    }
}

#runout-box,#runout-box2{
   .title{
        margin: 75px 0 45px;
    } 
    .tip{
        margin-bottom: 55px;
    }
}

#continue-box {
    em{
        color: #ffca13;
    }
}

@-webkit-keyframes jump {
  0%,100% {
    -webkit-transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
  }
}

/**=========================================动画==========================================**/
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
  }

  50% ,100%{
    opacity: 1;
  }
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes fly {
  from {
    -webkit-transform-origin: center;
    -webkit-transform: scale3d(0, 0, 0) translate3d(300%,300%,0);
  }
  100%{
    -webkit-transform-origin: center;
    -webkit-transform: scale3d(1, 1, 1) translate3d(0,0,0);
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes shake {
   0% {
    transform: scale(1);
    -webkit-transform: scale3d(1, 1, 1);
    
  }

  6%{
    -webkit-transform: scale(.9) rotate(-8deg);
    -webkit-transform: scale3d(1, 1, 1) rotate(0, 0, 1, -8deg);
  }

  18%, 30%,42%{
    -webkit-transform: scale(1.1) rotate(8deg);
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 8deg);
    
  }

  12%,24%, 36%,48%{
    -webkit-transform: scale(1.1) rotate(-8deg);
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -8deg);
    
  }
  54%{
    -webkit-transform: scale(1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  
  60%{
    -webkit-transform: scale(1);
    -webkit-transform: scale3d(1, 1, 1);
  }
  80% {
    -webkit-transform: scale(1) translate(0px,5px);
    -webkit-transform: scale3d(1, 1, 1) translate3d(0px,5px,0);
  }
  90% {
    -webkit-transform: scale(1) translate(0px,3px);
    -webkit-transform: scale3d(1, 1, 1) translate3d(0px,3px,0);
  }
  100% {
    -webkit-transform: scale(1) translate(0px,0px);
    -webkit-transform: scale3d(1, 1, 1) translate3d(0px,0px,0);
  }
}

/**include**/
.page-4 {
  width: 640px;
  min-height: 1008px;
  height: 100%;
  background: #60d9bd url(../img/bg1.png) no-repeat;
}

.text1 {
  width: 400px;
  height: 400px;
  font-size: 20px;
  line-height: 36px;
  color: #014939;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 330px;
}

.text2 {
  width: 460px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #014939;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.text3{
  width: 460px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #18584a;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-weight: bolder;
}

.text4{
  width: 460px;
  height: 200px;
  line-height: 50px;
  font-size: 22px;
  color: #013301;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.btn1 {
  display: block;
  width: 330px;
  height: 60px;
  border-radius: 12px;
  line-height: 60px;
  font-size: 25px;
  background: #a5eade;
  color: #136036;
  border-bottom: 6px solid #136036;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.title {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.picBox {
  width: 450px;
  height: 275px;
  overflow: hidden;
  margin-top: 165px;
  margin-left: auto;
  margin-right: auto;
  /*z-index: -2;*/
}

.pic {
  width: 460px;
}

.arrowLeft {
  width: 57px;
  height: 58px;
  background: url(../img/arrow1.png) no-repeat;
  position: absolute;
  left: 24px;
  top: 380px;
}

.arrowRight {
  width: 57px;
  height: 58px;
  background: url(../img/arrow2.png) no-repeat;
  position: absolute;
  right: 20px;
  top: 380px;
}

.page-3{
     min-height: 1008px;
     height: 100%;
     width: 640px;
     background: #30c49e url(../img/bg2.png) no-repeat;
     position: relative;
}
.bgm{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 76px;
    width: 76px;
    display: inline-block;
    z-index: 3;
    &.play{
        background: url(../img/play.png) no-repeat;
    }
    &.pause{
        background: url(../img/pause.png) no-repeat;
    }
}
.flower {
    display: block;
    position: absolute;
    left: 58.5px;
    top: 215px;
}
